.jumbotron {
  padding-top: 7rem;
  background-color: #e2edff;
}

#trainings {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
  margin-bottom: -2rem;
  margin-top: -2rem;
}

#contact {
  background-color: #e2edff;
}

* {
  margin: 0;
  padding: 0;
}
